{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <a href="{% url 'post_list' %}">&larr;Назад</a>
    <h1>{{post.title}}</h1>

    {% if post.image %}
        <img src="{{ post.image.url }}" alt="Картинка поста">
    {% endif %}
    
    <p>{{post.content}}</p>

    <p>Автор поста <a href="{% url "profile" post.author.username %}">{{post.author}}</a></p>

    {% if request.user == post.author %}
        <a href=" {% url "update_post" post.id%}">Редактировать пост</a>
        <a href=" {% url "delete_post" post.id%}">Удалить пост</a>
    {% endif %}
{% endblock content %}