{% extends "base.html" %}

{% block title %}Профиль{% endblock title %}

{% block content %}
    {% if user == request.user %}
        <h1>Мой профиль</h1>
    {% else %}
        <h1>Профиль {{ user.username  }}</h1>
    {% endif %}

    {% if posts %} 
        {% for post in posts %}
            {% if user == request.user or post.status != 'draft' %}
                {% include "blog/includes/post_container_include.html" %}
            {% endif %}
        {% endfor %} 
    {% else %}
    <p>Постов еще нет!</p>
    {% endif %}

{% endblock content %}