{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/core.css' %}">
    <script src="{% static "js/scroll_to_top.js" %}" type="module" defer></script>
  </head>
  <body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-primary mb-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url "main_page_view" %}">Мой блог</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "post_list" %}">Список постов</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "create_post" %}">Создать новый пост</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "logout_view" %}">Выйти</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url "profile" request.user.username %}">Профиль<i class="bi bi-person-circle"></i></a>
                            </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "register_view" %}">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login_view" %}">Вход</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer class="bg-light text-center py-3 mt-4">
        <div class="container">
            <p class="mb-0">общий нижний блок</p>
        </div>
    </footer>

    <button id="scrollToTopBtn" class="scroll-to-top" type=""><i class="bi bi-arrow-up"></i></button>
  </body>
</html>